---
name: postgres_exporter
x-postgres: &postgres
  environment:
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    POSTGRES_DB: postgres
  ports:
    - "5432:5432"
  command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]
  healthcheck:
    test: ["CMD-SHELL", "pg_isready -U postgres"]
    interval: 5s
    timeout: 5s
    retries: 5
  networks:
    postgres_exporter:
      aliases:
        - postgres

x-network: &network
  networks:
    - postgres_exporter

services:
  postgres13:
    <<: *postgres
    image: postgres:13.23@sha256:4689940c683801b4ab839ab3b0a0a3555a5fe425371422310944e89eca7d8068
    volumes:
      - postgres_data_13:/var/lib/postgresql/data
      - ./docker/postgresql.conf:/etc/postgresql/postgresql.conf
    profiles:
      - postgres13

  postgres14:
    <<: *postgres
    image: postgres:14.20@sha256:062b02051873a101837543675b5b4601cba06b1972d22f4b7969adbde5a280e4
    volumes:
      - postgres_data_14:/var/lib/postgresql/data
      - ./docker/postgresql.conf:/etc/postgresql/postgresql.conf
    profiles:
      - postgres14

  postgres15:
    <<: *postgres
    image: postgres:15.15@sha256:98fe06b500b5eb29e45bf8c073eb0ca399790ce17b1d586448edc4203627d342
    volumes:
      - postgres_data_15:/var/lib/postgresql/data
      - ./docker/postgresql.conf:/etc/postgresql/postgresql.conf
    profiles:
      - postgres15

  postgres16:
    <<: *postgres
    image: postgres:16.11@sha256:468e1f126ca5af849799cda06ac9b03d8090aae9fa5163408b3e8da44fad0702
    volumes:
      - postgres_data_16:/var/lib/postgresql/data
      - ./docker/postgresql.conf:/etc/postgresql/postgresql.conf
    profiles:
      - postgres16

  postgres17:
    <<: *postgres
    image: postgres:17.7@sha256:2006493727bd5277eece187319af1ef82b4cf82cf4fc1ed00da0775b646ac2a4
    volumes:
      - postgres_data_17:/var/lib/postgresql/data
      - ./docker/postgresql.conf:/etc/postgresql/postgresql.conf
    profiles:
      - postgres17

  postgres18:
    <<: *postgres
    image: postgres:18.1@sha256:1090bc3a8ccfb0b55f78a494d76f8d603434f7e4553543d6e807bc7bd6bbd17f
    volumes:
      - postgres_data_18:/var/lib/postgresql/data
      - ./docker/postgresql.conf:/etc/postgresql/postgresql.conf
    profiles:
      - postgres18

  prometheus:
    <<: *network
    image: quay.io/prometheus/prometheus:v3.10.0@sha256:7571a304e67fbd794be02422b13627dc7de822152f74e99e2bef95d29eceecde
    ports:
      - "9090:9090"
    volumes:
      - ./docker/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/docker/prometheus_data
    profiles:
      - default

  postgres-exporter:
    <<: *network
    build:
      context: .
    command:
      [
        "--log.level=debug",
        "--log.format=logfmt",
        "--db.excluded-databases=rdsadmin",
        "--db.excluded-databases=cloudsqladmin",
      ]
    entrypoint: ["/bin/postgres_exporter"]
    ports:
      - "9187:9187"
    environment:
      - PGHOST=postgres
      - PGUSER=postgres
      - PGPASSWORD=postgres
      - PGPGDATABASE=postgres
      - PGSSLMODE=disable
    profiles:
      - default

  grafana:
    <<: *network
    image: grafana/grafana:12.3.3@sha256:9e1e77ade304069aee3196e9a4f210830e96e80ce9a2640891eccc324b152faf
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana_data:/var/lib/grafana
      - ./docker/grafana/provisioning:/etc/grafana/provisioning
      - ./docker/grafana/dashboards:/etc/grafana/dashboards
    depends_on:
      - prometheus
    profiles:
      - default

volumes:
  prometheus_data:
  grafana_data:
  postgres_data_13:
  postgres_data_14:
  postgres_data_15:
  postgres_data_16:
  postgres_data_17:
  postgres_data_18:

networks:
  postgres_exporter:
